<!DOCTYPE html>
<html>

<head>
  <title>This is a title</title>
  <style>
    div {
      padding-top: 20px;
      background-color: lightblue;
      text-align: left;
    }

    .first {
      padding-top: 20px;
      background-color: yellow;
      text-align: left;
    }

    span {
      padding-left: 40px;
      background-color: lightgray;
      border: 4px solid red;
    }
     #second {
      padding-left: 40px;
      background-color: lightgray;
      border: 4px solid green;
    }
  </style>
</head>


<body>

  01 Hello world!
  <div class="first">02 hello world!
    <span> 07 hello world!</span>
  </div>
  <div>
    03 hello world!
    <span> 04 hello world!</span>
  </div>
  <div class="first" >
    05 hello world!
    <span id="second"> 06 hello world!</span>
  </div>
</body>

</html>