.header{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 20px;
}
.menu{
    background-color: darkcyan;
    padding: 10px;
    text-align: center;
}
.menu a{
    background-color: yellow;
    padding: 10px 20px;
    color: black;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.container{background-color: gainsboro;
max-width: 900px;
margin: 10px auto;
}
.section{
    margin-bottom: 10px;
    padding: 20px;
     border-radius: 8px;
    background-color: #f9f9f9;
}
.footer{
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
   
}

